@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,800;0,900;1,500&family=Roboto:wght@300;400;500;700;900&display=swap');
body{
    padding: 1em 2em;
    font-family: 'Poppins', sans-serif;
}
.mods-container-grid{
    padding: 2.5em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4em;
    margin-bottom: 3em;
    background-color: rosybrown;
}
@media (max-width: 1600px) {
    .mods-container-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (max-width: 1200px) {
    .mods-container-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 800px) {
    .mods-container-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
.mods-container{
    width: 160px;
    background-color: rgb(100, 100, 100);
    padding: 0.7em;
}
.img{ 
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
img{
    /* width: 100%; */
    height: 100%;
}
.name{
    text-align: center;
    color: #fff;
    font-weight: 700;
    height: 40px;
}
.limit-text-to-2-lines {
    display: --webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.version-loader{
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-weight: 500;
    height: 40px;
}
.download-cont{ 
    margin: 10px;
    text-align: center;
}
.download-cont button {
    color: #fff;
    background-color: #000078;
    padding: 5px;
    cursor: pointer;
}

