@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: cubifyCraft;
    src: url(../../font/go3v2.ttf);
}
footer {
    background-color: #131313;
    min-height: 100px;
    padding: 2em 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1.5em;
  }
  footer  > :nth-child(1) a{
    font-family: cubifyCraft;
    font-size: 22px;
    cursor: pointer;
  }
  footer  > :nth-child(2) {
    font-size: 13px;
    font-weight: 500;
    color: var(--white);
  }
  footer  > :nth-child(2) span{
    font-family: cubifyCraft;
  }
footer > :nth-child(3) ul{
  display: none;
  column-gap: 1em;
}
footer > :nth-child(3) ul li{
    list-style: none;
}
footer > :nth-child(3) ul li a{
    transition: ease 0.5s;
}
footer > :nth-child(3) ul li a:hover{
    color:#ffffff2e;
}