@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: cubifyCraft;
    src: url(../../font/go3v2.ttf);
}
html {
    scroll-behavior: smooth;
  }
*{
    padding: 0;
    margin: 0;
    font-family: Roboto,sans-serif;
    color: var(--white);
    transition: all 0.3s;

}
:root{
    --white: #FFF4F4;
    --black: #160202;
    --pink:#F06071;
    --brown:#351618;
    --GrayT: #4b4b4b7a;
    --ColorForge: #dfa86a45;
}
body{
    background-color: #131313;
}
a{
    color: var(--white);
    text-decoration: none;
}
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
  }