@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: cubifyCraft;
    src: url(../font/go3v2.ttf);
}
section{
    text-align: start;
    min-height: 600px;
    margin-top: 100px;
    padding: 5em 20em;
}
section h1 {
    font-family: Roboto, sans-serif;
    font-size: 35px;
    color: #ffffff;
    font-weight: 800;
    line-height: 120%;
    text-align: start;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #5865F2;
    display: inline-block;
    margin-bottom: 1.5em;
}
section h2{
    font-family: Roboto, sans-serif;
    color: #ffffff;
    font-weight: 600;
    line-height: 120%;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #9096cf;
    display: inline-block;
    margin: 0.5em;
}
section h3{
    font-family: Roboto, sans-serif;
    color: #ffffff;
    font-weight: 600;
    text-align: start;
    line-height: 120%;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #9096cf;
    display: inline-block;
    margin: 0.5em;
}
section p{
    margin: 10px;
}

section p span,.mailing p{
    font-weight: 700;
    color: #747474;
}
.note{
    color: #fff;
    font-weight: 700;
}