@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: cubifyCraft;
    src: url(../font/go3v2.ttf);
}
.hero-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: end;
  align-items: center;
  margin-top: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10em 5em;
  background-image: url(../imgs/main-bg.jpg);
  max-height: 700px;
}

.hero-section > :nth-child(1){
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 2em;
  flex-direction: column;
  padding: 1em;
}
.hero-section > :nth-child(1) >:nth-child(2){
  font-family: Roboto, sans-serif;
  color: var(--white);
  background-color: var(--black);
  padding: 1em 2em;
  border: 2px solid var(--brown);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: ease 0.5s;
}
.hero-section > :nth-child(1) >:nth-child(2):hover{
  border: 2px solid #ffffff2e;
}
.hero-section > :nth-child(2){
  border: 3px solid #ffffff2e;
  width: 450px;
  height: 250px;
  overflow: hidden;
  position: relative;
  background-color: var(--brown);
}
#myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.main-section{
  background-color: var(--GrayT);
  min-height: 700px;
  margin: 1em 3em;
}

.Forge {
  background: var(--ColorForge);
  border: 1px solid var(--white);
}
.Fabric {
  background: var(--ColorForge);
  border: 1px solid var(--white);
}

label {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  align-content: center;
}

.mods-lists {
  padding: 10px 15px;
}
.main-section > :nth-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
  height: 35px;
  background-color: #131313;
}
.main-section > :nth-child(1) > :nth-child(2) {
  padding: 0.1em 0.3em;
  color: var(--black);
  font-size: 15px;
  border-radius: 2px;
}
.main-section > :nth-child(1) > :nth-child(2):focus {
  outline: 1px solid var(--pink);
  outline-offset: -1px;
  border: 1px solid var(--pink);
}
