.main-Latest h1{
    font-size: 3.2rem;
}
.main-Latest p{
    width: 23rem;
    height: 19rem;
    padding: 21px 0 0 0;
    margin: 0px 18px 0 0;
    font-family: 'VT323';
    font-size: 1.5rem;
    }
