@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,800;0,900;1,500&family=Roboto:wght@300;400;500;700;900&display=swap');

.mods-container-grid{
    padding: 2.5em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4em;
    margin-bottom: 3em;
    background-color: var(--Bg-Transport50);
    border: solid var(--ColorFonts) 1px;
    
  }

.mods-container{
    width: 160px;
    background-color: rgba(52, 52, 52, 0.263);
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 9px -2px white;

}
.mods-container:hover {
  animation: rbg 30s infinite;
}
.mods-container .download-cont a{
  /* opacity: 0; */
  transition: opacity 0.3s;
  font-family: 'Minecraft';
  padding: 7px 12px;
  transition: all 0.3s;
  
 }
 .mods-container:hover .download-cont a{
 opacity: 1;
}

.NjavaEdition{
  color: var(--ColorMcJava);
}
.ajavaEdition {
  background-color: var(--ColorMcJavaB);
  border: outset 3px var(--ColorMcJava);
  color: var(--ColorFonts);
  text-shadow: 0 2px BLACK;
}
.ajavaEdition:hover {
  background-color: var(--ColorMcJava);
}
.JavaToggle {
  font-size: 15px;
  font-family: 'Minecraft';
  background-color: var(--ColorMcJavaB);
  border: outset 3px var(--ColorMcJava);
  color: var(--ColorFonts);
  text-shadow: 0 2px BLACK;
  transition: all 0.3s;
}
.JavaToggle:hover{
  border: outset 3px var(--ColorMcJavaB);
  background-color: var(--ColorMcJava);
}
.DungeonsToggle {
  font-size: 15px;
  font-family: 'Minecraft';
  font-weight: bold;
  color: var(--ColorMcDungeons);
  background-color: var(--ColorMcDungeonsB) ;
  border: outset 3px var(--ColorMcDungeonsS) ;
  text-shadow: 0 2px var(--ColorMcDungeonsS);
  transition: all 0.3s;
}
.DungeonsToggle:hover{
  border: outset 3px var(--ColorMcDungeons);
  background-color: var(--ColorMcDungeonsS);
}
.NDungeons {
  color: var(--ColorMcDungeons);
}
.aDungeons {
  color: var(--ColorMcDungeons);
  background-color: var(--ColorMcDungeonsB) ;
  border: outset 3px var(--ColorMcDungeonsS) ;
  text-shadow: 0 2px var(--ColorMcDungeonsS);
}
.aDungeons:hover {
background-color: var(--ColorMcDungeonsS);
}

.img{ 
    width: 135px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
@keyframes rbg {
  0% {
    box-shadow: 1px 1px 18px -3px #008c46;
    background-color: #008c4533;
  }
  
  50% {
    box-shadow: 1px 1px 18px -3px blue;
    background-color: #0000ff33;
  }
  
  100% {
    box-shadow: 1px 1px 18px -3px green;
    background-color: #00800033;
  }
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name{
    text-align: center;
    color: var(--ColorFonts);
    font-weight: 700;
    height: 40px;
}
.name span {
  font-size: xx-small;
  color: var(--ColorFonts);
}
.limit-text-to-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    padding: 1.3rem;
}
.version-loader{
    color: var(--ColorFonts);
    display: flex;
    justify-content: center;
    gap: 15px;
    font-weight: 500;
    height: 40px;
}
.download-cont{ 
    margin: 10px;
    text-align: center;
}
  div#post {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    width: 75rem;
    overflow-y: hidden;
}

  .main-Latest h1{
    font-size: 3.2rem;
}
.main-Latest p{
    display: flex;
    width: 23rem;
    height: 19rem;
    padding: 21px 21px 21px 0;
    margin: 0 0 0 13px;
    font-family: 'VT323';
    font-size: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    }
.container button {
  width: 10rem;
  height: 3rem;
}
.text {
  width: 100%;
  height: 50vh;
  background: none;
  color: white;
}
#js-post {
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
  width: 60vw;
}
.main-center h1 {
  margin-bottom: 25px;
}