#main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
#inpts{
    display: flex;
    margin: 3rem;
    width: 70%;
    padding: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#inptsFiles{
    margin: 20px;
    padding: 15px;
}
#inptFileL ,#inptImgL {
    margin: 10px;
    cursor: pointer;
    padding: 15px;
    color: white;
}
#inptImgL {
    border: 1px solid white;
    border-radius: 15px;
}
#inptImgL:hover {
    padding-left: 2rem;
    background-color:  white;
    color: black;
    border-radius: 15px;
    background-image: url(../imgs/upload.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 2em;
}
#inptFileL::before {
    content: 'upload File';
    transition: all 0.3s;
}
#inptFileL:hover::before{
    padding: 15px 4rem;
    content: '';
    background-image: url(../imgs/upload.svg);
    /* background-color:  white; */
    border: 1px solid;
    color: black;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2em;
    box-shadow: 3px 3px white;
}
#inptFilel:hover {
}
#inptsText {
    margin: 20px;
}
input , select, option{
    color: black;
}
p#fileNameP {
    margin-top: 2rem;
    padding-top: 15px;
    text-align: center;
    text-shadow: 3px 3px 5px black;
}
span#imgP {
    color: darksalmon;
}
#inptsText {
    
}
input[type=text] {
    border: 1px solid white;
    background: none;
    padding: 10px 15px;
    margin: 10px;
}
input::placeholder{
    color: white;
}
#luncher {
    padding: 10px 15px;
    background: rgba(72, 166, 243, 0.304) ;
    color: white;
    border: 1px solid rgb(72, 166, 243);
}
input[type=submit]{
    padding: 10px 25px;
    background-color: rgba(72, 166, 243, 0.304);
    color: white;
    border: 1px solid rgb(72, 166, 243);
}
input[type=submit]:hover{
    padding: 10px 25px;
    background-color: rgb(72, 166, 243);
    color: white;
    border: 1px solid  rgba(72, 166, 243, 0.304);
    box-shadow: 1px 1px 1px;
}
header {
    position: absolute;
    top: 16px;
    background-color: rgba(72, 166, 243, 0.304);
    padding: 18px 10px;
}
header a:hover {
    padding: 10px 15px;
    background-color: rgb(72, 166, 243);
}
